@font-face{
    font-family:"Beaumont";
    src: url("../fonts/Catherine.ttf");
}
*{
    font-family: arial;
}

body{
    background-image: linear-gradient(120deg,#e84393,#a29bfe);
    min-height: 100vh;
    
}
/*GAME CARD LOGO*/
.FORM-text header a {
    font-family: Beaumont;
    font-size: 80px;
    text-decoration: none;
   
    
}
.FORM-text header a:visited {
    color: black;
}
.FORM-text header a:hover {
    color: #FF00FF;
}

h1{
    font-family: arial;
    text-align: center;
    margin-top: 10px;  
}
input{
    margin-bottom: 10px;
    font-size: 15px;
    padding: 7px;
    
   
}
/*FENETRE RONDE QUI ENGLOBE LES CHAMPS*/
.FORM{
    width: 360px;
    background: #ffffff;
    height: 350px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.FORM-text {
    margin-top: -55px;
    text-align: center;
    
}
.FORM-text label{
    font-family: arial;
    font-size: 15px;
    font-style: italic;
}

button {
    margin-bottom: 20px;
}
#back-signup{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    bottom: 3%;
    left: 13%;
    
}
#back-signup:visited{
    color: black;
    
}
#back-signup:hover{
    color: #FF00FF;
}


#back-login{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    bottom: 3%;
    right: 13%;
    
}
#back-login:visited{
    color: black;
    
}
#back-login:hover{
    color: #FF00FF;
}
img {
    width: 180px;
    margin-bottom: -20px;
}
.signup-success{
    color: #FF00FF;
    font-weight: bold;
    font-size: 13px;
}


